SITE_NAME="Alpha Apartments"
DJANGO_SECRET_KEY="UUc-qwrxzkZFyx4mrxXFfgHpA1VLOIuAojmk8T9q7n35A6-k-yM"
DJANGO_ADMIN_URL="supersecret/"
EMAIL_PORT="1025"
EMAIL_HOST="mailpit"
DEFAULT_FROM_EMAIL="admin@apartments.com"
CELERY_FLOWER_USER="admin"
CELERY_FLOWER_PASSWORD="Pass12346"
CELERY_BROKER_URL="redis://redis:6379/0"
CELERY_RESULT_BACKEND="redis://redis:6379/0"
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_DB="estate"
POSTGRES_USER="alphaogilo"
POSTGRES_PASSWORD="Pas123456"
CLOUDINARY_CLOUD_NAME="dmyr68awx"
CLOUDINARY_API_KEY="159585475319587"
CLOUDINARY_API_SECRET="TQqGLre3fE2Md6lPcunQqPMpLlg"
COOKIE_SECURE=""
SIGNING_KEY=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
REDIRECT_URIS=""