SITE_NAME="Alpha Apartments"
DJANGO_SECRET_KEY="dfcgbvhjknjkmlghbnjkmlgyhjnkmlghbjnkmllhbgv"
DJANGO_ADMIN_URL="supersecret/"
EMAIL_PORT="1025"
EMAIL_HOST="mailpit"
DEFAULT_FROM_EMAIL="admin@apartments.com"
CELERY_FLOWER_USER="admin"
CELERY_FLOWER_PASSWORD="Pass12346"
CELERY_BROKER_URL="redis://redis:6379/0"
CELERY_RESULT_BACKEND="redis://redis:6379/0"
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_DB="estate"
POSTGRES_USER="alphaogilo"
POSTGRES_PASSWORD="Pas123456"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
COOKIE_SECURE=""
SIGNING_KEY=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
REDIRECT_URIS=""